<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td style="padding:0px" bgcolor="#666666">
	<table cellpadding="0" cellspacing="3" border="0" >
	<tr>
		<td class="menubutton" id="m1" nowrap width="" onmouseover="this.className='menubuttonActive';" onmouseout="this.className='menubutton';" onclick="gotoUrl('?')" title="Dashboard"><img src="{$ADMIN_URL_IMAGES}/adm2.png" border="0" align="left">&nbsp;</td>				

		{$clsCP->showNaviHeader()}
		
		<td class="menubutton" nowrap width="" onmouseover="this.className='menubuttonActive';" onmouseout="this.className='menubutton';" onclick="return logout()"><img src="{$ADMIN_URL_IMAGES}/close.png" border="0" align="left" />&nbsp;{$core->getLang("Log_Out")}</td>	
	</tr>
	</table>
	</td>
	<td bgcolor="#666666" align="right">
	<a href="{$URL_CMS}" target="_blank" title="PECO's Homepage"><img src="{$ADMIN_URL_IMAGES}/logo.png"/>&nbsp;&nbsp;</a>
	</td>
</tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-bottom:#999999 1px solid">
<tr>
	<td class="navi" style="text-transform:uppercase">
	<img src="{$ADMIN_URL_IMAGES}/icon_cms.png" border="0" align="absmiddle"><b>PECO ADMIN CONTROL PANEL</b>	
	</td>
	<td class="navi" align="right">{$core->getLang("Welcome_To")} <b>{$core->_USER.username}</b>!</font></td>
</tr>
</table>
{$clsCP->showDivHeader('users')}
{$clsCP->showDivHeader('articles')}
{$clsCP->showDivHeader('pickup')}
{$clsCP->showDivHeader('topics')}
{$clsCP->showDivHeader('features')}
{$clsCP->showDivHeader('category')}
