<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Admin Control Panel</title>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<link rel="stylesheet" href="{$ADMIN_URL_CSS}/style.css" type="text/css">
<link rel="stylesheet" href="{$ADMIN_URL_CSS}/jquery.resizeandcrop.css" type="text/css">
<meta name="robots" content="NOINDEX, NOFOLLOW">
<script>var URL_CMS = "{$URL_CMS}";var ADMIN_URL_CMS = "{$URL_CMS}/admin";</script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/jquery-min.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/jquery.resizeandcrop.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/jquery.validate.min.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/localization/messages_ja.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/global.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/admin.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/dw_viewport.js"></script>
<script type="text/javascript" src="{$ADMIN_URL_JS}/menulayer.js"></script>
</head>
<body>
{include file="_header.html"}
{include file="$mod/index.html"}	
{include file="_footer.html"}
</body>
</html>