<div id="articleURLItem" class="articleURLItem">
	<div>
		<p class="articleURLItemTitleView">
			<a href="[siteTitleTarget]" target="_blank" class="articleURLItemTitleLink">
				[siteTitle]
			</a>
		</p>
	</div>

	<div>
		<p class="articleURLItemUrlView">
			<a href="[siteLinkTarget]" target="_blank" class="articleURLItemUrlLink">
				[siteLink]
			</a>
		</p>
	</div>

	<div>
		<p class="articleURLItemDescView">[siteDesc]</p>
	</div>

	<div>
		<p class="articleURLItemThumbView">
			<a target="_blank" href="[siteThumbTarget]">
				<img src="[siteThumb]" style="max-width: 150px;">
			</a>
		</p>
	</div>

	<div>
		<p class="articleURLItemCommentView">
			[siteComment]
		</p>
	</div>
</div>
<input id="siteImgs" type="hidden" value="">
<input id="imgPos" type="hidden">