<div id="articleVideoItem" class="articleVideoItem">
	<div class="articleVideo">
		<iframe id="articleVideoEmmbed" type="text/html" src="[videoEmbed]" width="480" height="360" frameborder="0" allowfullscreen="true"></iframe>
		<p class="articleVideoSource">
			出典： 
			<a class="articleVideoSourceView" href="[videoSourceTarget]" target="_blank">Youtube</a>
		</p>
	</div>
	<p class="articleVideoTitle">[videoTitle]</p>
	<div class="articleVideoText">
		<p class="articleVideoDesc">[videoComm]</p>
	</div>
	<input id="articleVideoId" type="hidden" value="[videoId]">
</div>