<div id="addArea" class="clearfix">
	<ul class="clearfix">
		<li><a href="javascript:void(0)" onclick="addTab('itemId', 'addHeadingTab')">見出し</a></li>
		<li><a href="javascript:void(0)" onclick="addTab('itemId', 'addTextTab')">テキスト</a></li>
		<li><a href="javascript:void(0)" onclick="addTab('itemId', 'addImageTab')">画像</a></li>
		<li><a href="javascript:void(0)" onclick="addTab('itemId', 'addQuoteTab')">引用</a></li>
		<li><a href="javascript:void(0)" onclick="addTab('itemId', 'addURLTab')">リンク</a></li>
		<li><a href="javascript:void(0)" onclick="addTab('itemId', 'addTwitterTab')">Twitter</a></li>
		<li><a href="javascript:void(0)" onclick="addTab('itemId', 'addVideoTab')">動画</a></li>
	</ul>
	<span class="articleAddHereCancel" onclick="hideAddHereTab(this)">x</span>		
</div>