<div id="articleImageItem" class="articleImageItem">
	<div>
		<p class="articleImageTitle">[imageTitle]</p>
	</div>
	<div class="articleImage">
		<img class="articleImageView" src="[imageLink]" style="width: 300px;">
		<p class="articleImageSource">
			出典： 
			<a class="articleImageSourceView" href="[imageSourceTarget]" target="_blank">[imageSource]</a>
		</p>
	</div>

	<div class="articleImageText">
		<p class="articleImageDesc">[imageDesc]</p>
	</div>
</div>
<input id="articleIsUpload" type="hidden" value="[articleIsUpload]">