<li class="urlSearchItem">
	<div class="urlSearchItemInfo">
		<p class="urlSearchItemTitle">
			<a class="urlSearchLink" target="_blank" href="[siteURL]">
				[siteTitle]
			</a>
		</p>
		<p class="urlSearchItemDesc">[siteDesc]</p>
		<p class="urlSearchItemURL"><a target="_blank" href="[siteURL]">[siteURL]</a></p>
	</div>
	<div>
		<p class="urlSearchItemAdd">
			<!-- <span>
				<a title="まとめに追加" class="urlSearchItemAddBtn" href="#">まとめに追加</a>
			</span> -->
			<input id="urlSearchItemAddBtn" class="btn btn_default" type="button" value="まとめに追加" onclick="onBtnAddUrlClick(this)">
		</p>
	</div>
</li>