<div id="addTwitterCheckTab" class="newItem itemTwitterContent">
	<div class="itemTwitterUserThumb01">
		<span class="itemTwitterUserThumb01View"> 
			<a id="itemTwitterUserThumbTarget" href="javascript:void(0)" target="_blank">
				<img src="" class="itemTwitterUserThumb01Img">
			</a>
		</span>
	</div>
	<div class="itemTwitterUserName01">
		<span class="itemTwitterUserName01View"> 
			<a href="javascript:void(0)" target="_blank">
				<b class="itemTwitterUserName01FullName"></b>
				<span class="itemTwitterUserName01ScreenName"></span>
			</a>
		</span>
	</div>
	<div class="itemTweet01">
		<span class="itemTweet01View"> 
			
		</span>
	</div>
	
	<div class="itemTweet01">
		<div class="itemTweet01Image"> 
			<a id="itemTweet01ImageTarget" href="" target="_blank">
				<img id="itemTweet01ImageView" src="">
			</a>
		</div>
	</div>
	
	<div class="itemTweetTime">
		<span class="itemTweetTimeView"> 
		</span>
	</div>
	
	<div class="itemComment01">
		<span class="itemComment01View"></span>
		<div class="itemComment01Form">
			<textarea name="contents" class="itemComment01Inputbox" placeholder="tweetの紹介コメントを入力"></textarea>
		</div>
	</div>
	<div class="addItemBtn clearfix">
		<input class="btn btn_black" id="btnAddURL" name="btnAddURL" type="button" onclick="onAddTwitterClick(this)" value="追加" /> 
		<input id="btnCancel" class="btn btn_default" type="button" onclick="onCancel(this)" value="キャンセル">
	</div>
</div>