<div id="addImageTab" class="newItem clearfix">
	<div>
		<img class="itemImagePreview" src="{$URL_IMAGES}/default_image.png" >
	</div>
	<div class="itemImageCheckArea">
		<input type="text" id="addImageTitle" placeholder="画像のタイトルを入力" style="margin-top: 0px; display: none;">	
		<input type="text" id="imageUrl" placeholder="追加する画像のURLを入力" style="margin-top: 0px;">
		<input id="imageUpload" name="upload[image]" type="file" style="display: none; padding-top: 10px;" onchange="setPreviewImage(this)">
		<input id="isUpload" type="hidden" value="false">
		
		<textarea id="addItemImageComment" placeholder="画像の紹介コメントを入力" style="width: 400px; display: none;"></textarea>
		<div class="addItemBtn">
			<input class="btn btn_black" id="btnCheckImage" name="btnCheckImage" type="button" onclick="onCheckImage(this)" value="チェック"/>
			<input id="btnCancel" class="btn btn_default" type="button" onclick="onCancel(this)" value="キャンセル">
		</div>
		<div>
			<span><a class="itemImageUpload" onclick="switchAddImageType(1)">アップロード</a></span>
			<span><a class="itemImageLink" style="display: none;" onclick="switchAddImageType(2)">URLから追加する</a></span>
			<p style="display: inline-block; margin-left: 20px;"><a class="itemImageSearch" onclick="onOpenImageSearchPopUp()">探して追加</a></p>
		</div>
	</div>
</div>